.body{
	background-image: url("images/raul-rosas-godmBw_gLDg-unsplash");
	background-size: 2000px 1000px;
	background-repeat: :no;
}
.logo-1{
  position: fixed;
  left: 12px;
  align-self: center;
}
.img{
  position: relative;
  top: -20px;
	height: 50px;
	width: 75px;

}
.ech{
  background-color:black;
  opacity:0.8;
  position:relative;
  left: 50px;
  display:inline-block;
  color:white;
}
.search{
  overflow: hidden;
  background-color: mediumpurple;
  height: 100px;
  opacity: 0.85;
}

.select{
	background-color: black;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}
.input{
	height: 50px;
  opacity: 0.8;
  width: 500px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 20px;
}

.det a{
  text-decoration: none;
  
}






table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color: black;
  opacity: 0.9;
  font-size: 20px;
    
}

td, th {
  border: 1px solid white;
  height: 50px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: lightgrey;
  

}
tr:nth-child(odd){
	background-color:grey  ;
}

.email{
	width: 200px;
	height: 20px;
  border-radius: 25px;
	border-color: whitesmoke;
  font-size: 15px;
  color: whitesmoke;
  background-color: black;
  padding: 10px;
}
.pass{
	width: 200px;
	height: 25px;
  border-radius: 50px;
	border: none;
}
.table{
  margin-top: 30px;
}
.fac{
  color: white;
  width: 150px;
  height: 200px;
  background-color: black;
   position: relative;
   top: 50px;
  padding: 250px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 0px;
 }
 .link{
  text-decoration: none;
  color: white;
  cursor: pointer;
 }

input[type=file]::file-selector-button {
  border: 5px;
  hei
  padding: .2em .4em;
  border-radius: .2em;
  background-color: white;
  transition: 1s;
}
  .fac:hover{
      transform: scale(1.1);
    }
 .search:hover{
  transform: scale(1.2);
 }

 .button{
  width: 100px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50px;
  background-color:  black;
  color: white;
  cursor: pointer;
 }
 .button:hover{
  background-color: darkgray;
  color: black;
}
.buttonsub{
  width: 400px;
  height: 100px;
  font-size: 20px;

  margin-left: 20px;
  font-weight: bold;
  background-color:  black;
  color: white;
  cursor: pointer;
 }
 .buttonsub:hover{
  background-color: darkgray;
  color: black;
}


fieldset{
border-radius: 50px;
padding: 100px;
border-color: darkred;
border-width: 5px;
position: relative;
left: -120px;
top: -120px;

}
.faculty{
  color: white;
  width: 150px;
  height: 200px;
  background-color: black;
   position: relative;
   top: 50px;
  padding: 500px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 0px;
 }
.faculty:hover{
      transform: scale(1.1);
    }
.faculty fieldset{
border-radius: 50px;
padding: 100px;
border-color: darkred;
border-width: 5px;
position: relative;
left: -300px;
top: -300px;
}

.add{
  color: white;
  width: 150px;
  height: 10px;
  background-color: black;
   position: relative;
   top: 50px;
  padding: 500px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 0px;
 }
 .add fieldset{
border-radius: 50px;
padding: 100px;
border-color: darkred;
border-width: 5px;
position: relative;
left: -300px;
top: -300px;


 }


.add_books{
  position: relative;

left: -35px;
border-radius: 20px;
padding: 50px;
border-color: blue;
}

.bu1{

  background-image: linear-gradient("black","white");
  width: 100px;
  height: 35px;
  border-radius:  50px;
  cursor: pointer;
}
.bu1:hover{
  background-color: black;
  color: white;
}
.rec{
  background-color: grey;
  display: inline-block;
  overflow: hidden;
}



  .report{
    position: relative;
    top: 250px;
    background-color: rosybrown;
    display: inline-block;
    padding: 100px;
    opacity: 0.9;
  }
  input[type=date] {
  height: 30px;
  

  font-family: arial, sans-serif;
  font-size: 20px;
  
  text-transform: uppercase;
  outline: none;
  border: 20;
  border-radius: 3px;
  padding: 0 20px;
  color: black;
  }

.container {
  position: relative;
  margin-top: 100px;
}
.container img {
  display: block;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5%;
  height: 150px;
  background-color: black;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  align-items: center;
}
nav .links li {
  list-style: none;
  display: flex;
  text-align: center;
}
nav .links a {
  display: block;
 padding: 1em
  font-size: 15px;
  font-weight: bold;
  color:  whitesmoke;
  text-decoration: none;
  text-align: center;
  margin-right: 30px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  
}

