.body{
	background-image: url("images/pickawood-sxQK5Zo94g4-unsplash.jpg");
	background-size: 2000px 1000px;
	background-repeat: :no;
}
.img{
  position: relative;
  top: -20px;
	height: 50px;
	width: 75px;

}
.ech{
  background-color:black;
  opacity:0.8;
  position:relative;
  left: 50px;
  display:inline-block;
  color:white;
}
.search{
  overflow: hidden;
  background-color: mediumpurple;
  height: 70px;
  opacity: 0.85;
}
nav:last-child{
	float: left;
	background-color: ghostwhite;

}
.select{
	background-color: #333;
  width: 150px;
  height: 30px;
  padding: 5px;
  color: white;
}
.input{
	height: 26px;
  opacity: 0.8;
  border: 1px solid;
  border-radius: 10px;
}

.det a{
  text-decoration: none;
  
}
.topnav {
  background-color: #333;
  overflow: hidden;
  display: block;

}
nav.logo{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 0px;
  left: -1100px;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 20px;
}

.topnav a:hover {
  background-color: darkgray;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%%;
  color: black;
  opacity: 0.9;
}

td, th {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgray;
}
tr:nth-child(odd){
	background-color:  darkgray;
}

.email{
	width: 200px;
	height: 30px;
  border-radius: 25px;
	border-color: whitesmoke;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
}
.pass{
	width: 200px;
	height: 25px;
  border-radius: 50px;
	border: none;
}
.table{
  margin-top: 30px;
}
.fac{
  color: white;
  width: 150px;
  height: 200px;
  background-color: black;
   position: relative;
   top: 50px;
  padding: 250px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 0px;
 }
 .link{
  text-decoration: none;
  color: white;
  cursor: pointer;
 }


  .fac:hover{
      transform: scale(1.1);
    }
 .search:hover{
  transform: scale(1.2);
 }

 .button{
  width: 100px;
  height: 35px;
  border-radius: 50px;
  background-color:  #333;
  color: white;
  cursor: pointer;
 }
 .button:hover{
  background-color: darkgray;
  color: black;
}
fieldset{
border-radius: 50px;
padding: 100px;
border-color: darkred;
border-width: 5px;
position: relative;
left: -120px;
top: -135px;

}
.add_books{
  position: relative;
top: -180px;
left: -35px;
border-radius: 20px;
padding: 50px;
border-color: blue;
}

.bu1{

  background-image: linear-gradient("black","white");
  width: 100px;
  height: 35px;
  border-radius:  50px;
  cursor: pointer;
}
.bu1:hover{
  background-color: black;
  color: white;
}
.rec{
  background-color: grey;
  display: inline-block;
  overflow: hidden;
}